<%- include('./partials/header.ejs') %>


  <%- include('./partials/sidebar.ejs') %>

    <div class="container-fluid d-flex gap-4" style="background-color: #EDF1F5;">

      <section class="gradient-custom container vh-100">
        <div class="container py-5 h-100 row justify-content-center align-items-center">
          <div class="col-12 col-lg-9 col-xl-8">
            <div class="card shadow-2-strong card-registration">
              <div class="card-body shadow" style="background-color: #EBEBEB;border-radius: 5px;">

                <form action="/admin/product/image/add?productId=<%= productId %>" method="post" id="form"
                  class="d-flex flex-column align-items-center mt-3" enctype="multipart/form-data">

                  <div class="mb-5 d-flex flex-column align-items-center">
                    <div class="fw-bold text-center fs-5 text-uppercase mb-1">Add your Image</div>
                  </div>
                  <strong>
                    <%= product.productName%>
                  </strong>
                  <div class="col-md-6">

                    <div class="form-outline mb-3">
                      <label class="form-label" for="passowrd">Select Image</label>
                      <input type="file" id="image" name="image" style="box-shadow: none;" class="form-control passowrd"
                        required />
                    </div>


                  </div>

                  <div id="error-field" class="text-danger"></div>

                  <button type="submit" style="background-color: #7FAD39;color: #fff;min-width: 10rem;"
                    class="btn fw-normal p-10 mb-3 mt-3">Add</button>


                </form>
              </div>
            </div>
          </div>
        </div>
      </section>



    </div>

    <%- include('./partials/footer.ejs') %>