<%- include('./partials/header.ejs') %>

  <%- include('./partials/sidebar.ejs') %>

    <div class="d-flex justify-content-end" style="padding-right: 3rem;background-color: #EDF1F5; padding-top: 1rem;">
      <a href="/admin/coupon/add" class="btn btn-success">Add New</a>
    </div>

    <div class="container-fluid d-flex gap-4 py-3" style="background-color: #EDF1F5;" id="container">


      <div style="overflow-y: auto;" class="w-100 d-flex align-items-center align-items-center">
        <div class="table">
          <table class="table table-light table-striped table-responsive">
            <thead>

              <tr>
                <th>sl.no</th>
                <th>Coupon Name</th>
                <th>Discount</th>
                <th>Max. Discount</th>
                <th>Min. Discount</th>
                <th>Expiry Date</th>
                <th>status</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>

            </thead>

            <tbody>

              <% coupons.forEach((coupon,i)=>{ %>
                <tr>
                  <td>
                    <%= i+1 %>
                  </td>
                  <td>
                    <%= coupon.couponName %>
                  </td>
                  <td>
                    <%= coupon.discount %>%
                  </td>
                  <td>&#8377;<%= coupon.maxDiscount %>
                  </td>
                  </td>
                  <td>&#8377;<%= coupon.minAmount %>
                  </td>
                  <td>
                    <%= coupon.expiryDate.toLocaleDateString('en-US', { month: 'long' , day: 'numeric' , year: 'numeric'
                      ,}); %>
                  </td>

                  <% if(coupon.isActive){ %>
                    <th><span class="text-success">Active</span></th>
                    <% }else{ %>
                      <th><span class="text-danger">Disabled</span></th>
                      <% } %>

                        <td><a href="/admin/coupon/edit?id=<%= coupon._id %>"><button type="button"
                              class="btn btn-success">Edit</button></a></td>
                        <td><a href="#"><button type="button" class="btn btn-danger"
                              onclick="deleteCoupon('<%=coupon._id%>')">Delete</button></a></td>

                </tr>

                <% }) %>

            </tbody>
          </table>
        </div>

      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script>
      function deleteCoupon(id) {
        Swal.fire({
          title: 'Are you sure,',
          text: "you want to delete this coupon?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.get(`/admin/coupon/delete?couponId=${id}`)
              .then((result) => {
                if (result.data.response) {
                  Swal.fire(
                    'Deleted!',
                    'Your Coupon is deleted.',
                    'success'
                  )
                  $.get(location.href, function (data) {
                    $("#container").html($(data).find("#container").html());
                  })
                }
              })
          }
        })
          .catch((error) => {
            console.error(error);

          });
      }
    </script>

    <%- include('./partials/footer.ejs') %>