<%- include('./partials/header.ejs') %>


  <style>
    /* Styling for the card when hovered */
    .card:hover {
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
      /* Add shadow to the card when hovered */
      transform: scale(0.99)
        /* Raise the card slightly when hovered */
    }
  </style>
  <section class="px-5">
    <h2 style="text-align: center;">Order History</h2>
    <div class="col-md-12 mt-4">
      <div class="orders-container">
        <% if (orders !==null && orders.length> 0) { %>
          <% for (let i=0; i < orders.length; i++) { %>
            <div class="row mb-3">
              <div class="col-md-12 col-sm-12">
                <div onclick="loadOrderDetails('<%= orders[i]._id %>')" class="card text-center">
                  <div class="card-content">
                    <div class="card-body d-flex justify-content-between col-md-6 col-sm-12">
                      <img style="width: 6rem; height: 6rem;"
                        src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-fast-delivery-icon-delivery-icon-png-image_2047531.jpg">
                      <div class="d-flex flex-column">
                        <div class="d-flex flex-column align-items-start" style="font-size: .80rem;">
                          <div>Order Id: <span class="font-weight-bold">
                              <%= orders[i]._id.toString().substring(0, 6) %>
                            </span></div>
                          <div>Order Date: <span
                              class="font-weight-bold"><%=orders[i].order_date.toLocaleDateString('en-US', {
                                month: 'long' , day: 'numeric' , year: 'numeric' ,});%></span></div>
                          <div>No. of Items: <span class="font-weight-bold">
                              <%= orders[i].items.length %>
                            </span></div>
                        </div>
                      </div>
                      <div class="d-flex flex-column align-items-center justify-content-center">
                        <div style="font-size: .90rem;"
                          class="<% if(orders.order_status=='pending') {%> text-warning <% }else if(orders.order_status=='rejected') {%> text-danger <% }else{ %> text-secondary <% } %>">
                          <%= orders.order_status %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <%}%>
              <div class="d-flex justify-content-center mt-3">
                <% if (currentPage> 1) { %>
                  <a href="?page=<%= currentPage - 1 %>" class="btn btn-success mr-2">Previous</a>
                  <% } %>
                    <% if (currentPage < totalPages) { %>
                      <a href="?page=<%= currentPage + 1 %>" class="btn btn-success">Next</a>
                      <% } %>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <span>Page <%= currentPage %> of <%= totalPages %></span>
              </div>
              <%} else { %>
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <div class="h1 text-danger">There Is No Orders</div>
                </div>
                <% } %>
      </div>
    </div>
  </section>



  <!-- axios cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

  <!-- sweet alert cdn -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    function showCancelConfirmation(orderId, ordersItemsId) {
      // Show SweetAlert confirmation dialog
      Swal.fire({
        title: 'Are you sure You want to Cancel the Order?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'red',
        cancelButtonText: 'No',
        cancelButtonColor: '#15A78F',
        confirmButtonText: 'Yes'
      }).then((result) => {
        // If the user confirms the action, proceed with order cancellation
        if (result.isConfirmed) {
          removeOrder(orderId, ordersItemsId);
        }
      });
    }

    function removeOrder(orderId, ordersItemsId) {
      axios({
        method: "post",
        url: `/order/cancel`,
        data: {
          ordersItemsId, orderId
        }
      })
        .then((result) => {
          if (result.data.response) {
            // Reload the page after successful cancellation
            location.reload();
          }
        })
        .catch((error) => {
          // Handle error, if necessary
          console.error(error);
        });
    }

    function loadOrderDetails(orderId) {
      location.href = `/order/details?orderId=${orderId}`
    }
  </script>

  <%- include('./partials/footer.ejs') %>