<%- include('./partials/header') %>
    <style>
        .product__item__pic.set-bg {
            background-image: url('path/to/image.jpg');
            background-size: contain;
            /* or other values like cover, auto, 100%, etc. */
        }
    </style>

    <!-- Hero Section Begin -->
    <section class="hero hero-normal py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            <% category.forEach((categoryItem)=> { %>
                                <li>
                                    <a onclick="productsInCat('<%= categoryItem._id %>')"
                                        style="text-decoration: none; cursor: pointer;">
                                        <%= categoryItem.categoryName %>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="hero__search mx-4">
                        <div class="hero__search__form ">
                            <form action="#">
                                <input type="text" id="search" name="search" class="text-dark font-weight-bold"
                                    placeholder="What do yo u need?" value="<%= search %>">
                                <button type="button" onclick="advanceSearch()" class="site-btn">SEARCH</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/will-van-wingerden-dsvJgiBJTOs-unsplash.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color: black; text-shadow: 0px 0px 4px green;">Papertrail</h2>
                        <div class="breadcrumb__option">
                            <a href="/"
                                style="text-decoration: none; color: black; text-shadow: 0px 0px 4px green; ">Shop</a>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <section class="product spad" id="productContainer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <% category.forEach((categoryItem)=> { %>
                                    <li>
                                        <a onclick="productsInCat('<%= categoryItem._id %>')"
                                            style="text-decoration: none; cursor: pointer;">
                                            <%= categoryItem.categoryName %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <!-- <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <form class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div id="price-range" class="price-slider"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" name="minamount" id="minamount">
                                        <input type="text" name="maxamount" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="advanceSearch()" class="btn btn-md mt-3 mr-3"
                                style="background-color: #15A78F; color: white; padding-left: 15px; padding-right: 15px;">Apply</button>
                            <a href="/shop"><button type="button" class="btn btn-danger btn-md mt-3"
                                    style="color: white; height: 2.3rem;">Clear
                                    Filter</button></a>
                        </form>
                    </div>
                </div>



                <div class="col-lg-9 col-md-7">
                    <div>
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <!-- <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div> -->
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6 id="productCount">
                                        <%= products.length %> products in this page
                                    </h6>
                                </div>
                            </div>
                            <!-- <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row mt-3" id="productsSection">
                        <% if (products.length> 0) { %>
                            <% products.forEach((product)=> { %>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <img style="height: 18rem; width: 12rem; margin-left: 2.2rem;"
                                            src="<%= product.image[0].url %>" alt="<%= product.productName %>">
                                        <div class="product__item__text">
                                            <h6><a href="/productDetails?id=<%= product._id %>"
                                                    style="text-decoration: none;">
                                                    <%= product.productName %>
                                                </a></h6>
                                            <h5>₹<%= product.price %>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <h3 style="text-align: center; margin-top: 10rem;">No products found</h3>
                                        <% } %>
                    </div>

                    <div class="product__pagination text-center" id="pagination">
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <% if (i===currentPage) { %>
                                <span class="current-page">
                                    <%= i %>
                                </span>
                                <% } else { %>
                                    <a style="text-decoration: none;" href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                    <% } %>
                                        <% } %>
                                            <% if (currentPage < totalPages) { %>
                                                <a href="?page=<%= currentPage + 1 %>"><i
                                                        class="fa fa-long-arrow-right"></i></a>
                                                <% } %>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            // Set default values for the min and max price inputs
            document.getElementById("minamount").value = "<%= minamount %>";
            document.getElementById("maxamount").value = "<%= maxamount %>";

            // Initialize the slider with default values
            $("#price-range").slider({
                range: true, // Enables the two-way range slider
                min: 0,
                max: 1000,
                values: ["<%= minamount %>", "<%= maxamount %>"], // Set default slider range
                slide: function (event, ui) {
                    $("#minamount").val(ui.values[0]);
                    $("#maxamount").val(ui.values[1]);
                }
            });

            // Update slider and input values when input changes
            $("#minamount, #maxamount").on("change", function () {
                var minVal = parseInt($("#minamount").val());
                var maxVal = parseInt($("#maxamount").val());

                // Ensure the input values are within the valid range
                if (minVal < 0) minVal = 0;
                if (maxVal > 1000) maxVal = 1000;
                if (minVal > maxVal) minVal = maxVal;
                if (maxVal < minVal) maxVal = minVal;

                // Update the slider position
                $("#price-range").slider("values", [minVal, maxVal]);
                $("#minamount").val(minVal);
                $("#maxamount").val(maxVal);
            });
        });

        function productsInCat(catId) {
            const search = $("#search").val();
            const minamount = $("#minamount").val();
            const maxamount = $("#maxamount").val();

            location.href = `/category?categoryId=${catId}&search=${search}&minamount=${minamount}&maxamount=${maxamount}`
        }


        document.addEventListener("keydown", function (event) {
            var keycode = event.keyCode || event.which;
            if (keycode === 13) {
                event.preventDefault();
                advanceSearch();
            }
        });


        function advanceSearch() {
            const search = $("#search").val();
            const minamount = $("#minamount").val();
            const maxamount = $("#maxamount").val();


            if (location.pathname == "/category") {

                const query = new URLSearchParams(location.search);
                const catId = query.get('categoryId')
                location.href = `/category?categoryId=${catId}&search=${search}&minamount=${minamount}&maxamount=${maxamount}`
                // productsInCat(catId)

            } else {

                location.href = `/shop?search=${search}&minamount=${minamount}&maxamount=${maxamount}`;
            }

        }
    </script>

    <%- include('./partials/footer') %>