<%- include('./partials/header') %>
    <style>
        .product__item__pic.set-bg {
            background-image: url('path/to/image.jpg');
            background-size: contain;
            /* or other values like cover, auto, 100%, etc. */
        }
    </style>

    <!-- Hero Section Begin -->
    <section class="hero hero-normal py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            <% category.forEach((categoryItem)=> { %>
                                <li>
                                    <a href="/category/<%= categoryItem._id %>" style="text-decoration: none;">
                                        <%= categoryItem.categoryName %>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form" style="margin-left: 6rem;">
                            <form action="#">
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/will-van-wingerden-dsvJgiBJTOs-unsplash.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color: black; text-shadow: 0px 0px 4px green;">Papertrail</h2>
                        <div class="breadcrumb__option">
                            <a href="/"
                                style="text-decoration: none; color: black; text-shadow: 0px 0px 4px green; ">Shop</a>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <section class="product spad" id="productContainer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <% category.forEach((categoryItem)=> { %>
                                    <li>
                                        <a onclick="productsInCat('<%= categoryItem._id %>')"
                                            style="text-decoration: none; cursor: pointer;">
                                            <%= categoryItem.categoryName %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <!-- <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>



                <div class="col-lg-9 col-md-7">
                    <div>
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6 id="productCount">
                                        <%= products.length %> products in this page
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" id="productsSection">
                        <% if (products.length> 0) { %>
                            <% products.forEach((product)=> { %>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <img style="height: 18rem; width: 12rem; margin-left: 2.2rem;"
                                            src="<%= product.image[0].url %>" alt="<%= product.productName %>">
                                        <div class="product__item__text">
                                            <h6><a href="/productDetails?id=<%= product._id %>"
                                                    style="text-decoration: none;">
                                                    <%= product.productName %>
                                                </a></h6>
                                            <h5>₹<%= product.price %>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <h3 style="text-align: center; margin-top: 10rem;">No products found</h3>
                                        <% } %>
                    </div>

                    <div class="product__pagination text-center" id="pagination">
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <% if (i===currentPage) { %>
                                <span class="current-page">
                                    <%= i %>
                                </span>
                                <% } else { %>
                                    <a style="text-decoration: none;" href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                    <% } %>
                                        <% } %>
                                            <% if (currentPage < totalPages) { %>
                                                <a href="?page=<%= currentPage + 1 %>"><i
                                                        class="fa fa-long-arrow-right"></i></a>
                                                <% } %>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script>
        function productsInCat(catId) {
            $.ajax({
                type: 'get',
                url: '/category/' + catId,
                data: {
                    categoryId: catId,
                },
                success: function (res) {
                    $("#productCount").html($(res).find("#productCount").html());
                    $("#productsSection").html($(res).find("#productsSection").html());
                    $("#pagination").html($(res).find("#pagination").html());
                }

            })
        }
    </script>

    <%- include('./partials/footer') %>